html {
    --primary-color: orange;
    --secondary-color: #778899;
}

body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

* {
    outline: none;
    border: 0;
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Icon button */
.icon-btn {
    border: 1px solid #d0d0d0;
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.2s;

    box-sizing: border-box;
}

.icon-btn:hover {
    border: 1px solid black;
    transition: 0.4s;
}

.icon-btn-group {
    display: flex;
    align-items: center;
}

.icon-btn-group > .icon-btn:not(:last-child) {
    margin-right: 4px;
}

/* Header */
.header {
    padding: 40px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #fff;
    box-sizing: border-box;

    height: 15vh;
}

.logo__title {
    font-size: 1.75em;
}

.logo__title > span {
    color: var(--primary-color);
}

.icon-btn-group_social {
    font-size: 0.75em;
}

/* Navigation */
.navigation {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-btn-group_navigation {
    font-size: 0.75em;
}

.breadcrumb {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.breadcrumb__item > a {
    transition: 0.2s;
}

.breadcrumb__item > a:hover {
    color: var(--primary-color);
    transition: 0.2s;
}

.breadcrumb__item_active > a {
    color: var(--primary-color);
}

.breadcrumb > ul {
    display: flex;
    align-items: center;
}

.breadcrumb > ul > li:not(:last-child) {
    margin-right: 30px;
}

.breadcrumb li:not(:first-child)::before {
    content: "/";
    color: #afafaf;
    margin-right: 30px;
}
